In [16]:
#strings 
message = "Hello World I am here"

In [2]:
#count strings 
print (message.count('Hello'))

1

In [3]:
#find*()
print(message.find('hello'))

-1

In [4]:
print(message.find('Hello'))

0

In [6]:
print(message.find('here'))

17

In [9]:
#replace 
new_message = message.replace('Hello', 'You')
new_message

'You World I am here'

In [11]:
#does nothing 
new_message.replace('You', 'Here')
#must display he right messsage

'Here World I am here'

In [17]:
#concatinate strings 
message = '{}, {}.Welcome Home!'.format(message, new_message)

In [18]:
message

'Hello World I am here, You World I am here.Welcome Home!'

In [19]:
print(dir(message))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [21]:
#numbers find type
num =10
print(type(num))

<class 'int'>

In [23]:
#multiply 
print(3*5)
print (6%4)

15
2

In [24]:
#exponent 
print(2**3)

8

In [26]:
#round 
print(round(3.4344, 2))

3.43

In [27]:
#boolean
print(3>1)

True

In [28]:
#floor division 
print (20//3)

6

In [53]:
#list toples and sets
courses = ['History', 'Geography', 'Physics']
courses

['History', 'Geography', 'Physics']

In [30]:
#len of list 
len(courses)

3

In [36]:
courses[0]

'History'

In [32]:
courses[3] #out of bound for lists

IndexError: list index out of range

In [33]:
courses [-1]

'Physics'

In [35]:
courses[0:2]

['History', 'Geography']

In [37]:
courses[1:]

['Geography', 'Physics']

In [38]:
courses.append('Programming')
courses

['History', 'Geography', 'Physics', 'Programming']

In [41]:
courses.insert(2, 'Chemistry')
courses

['History', 'Geography', 'Chemistry', 'Chemistry', 'Physics', 'Programming']

In [43]:
courses2 =['Biology', 'cre']
courses.insert(0, courses2)

In [44]:
courses

[['Biology', 'cre'],
 'History',
 'Geography',
 'Chemistry',
 'Chemistry',
 'Physics',
 'Programming']

In [47]:
#extend
courses3= ('White', 'Red')
courses.extend(courses3)
courses

[['Biology', 'cre'],
 'History',
 'Geography',
 'Chemistry',
 'Chemistry',
 'Physics',
 'Programming',
 'White',
 'Red',
 'White',
 'Red']

In [ ]:
courses3= ('White', 'Red')
courses.extend(courses3)
courses

In [50]:
#remove items 
courses.remove('White')
courses

[['Biology', 'cre'],
 'History',
 'Geography',
 'Chemistry',
 'Chemistry',
 'Physics',
 'Programming',
 'Red',
 'Red']

In [51]:
#pop 
courses.pop()
courses

[['Biology', 'cre'],
 'History',
 'Geography',
 'Chemistry',
 'Chemistry',
 'Physics',
 'Programming',
 'Red']

In [55]:
#list sort 
courses.sort()
courses

['Geography', 'History', 'Physics']

In [56]:
courses.index('History')

1

In [57]:
'History' in courses

True

In [59]:
#joing the strings 
course_string = ','.join(courses)
course_string

'Geography,History,Physics'

In [60]:
#split string to list 
course_string.split(',')

['Geography', 'History', 'Physics']

In [61]:
#tuple are immutable(cannot be changed)
tupple_1 = ('Geography', 'History', 'Physics')
tupple_1

('Geography', 'History', 'Physics')

In [62]:
tupple_1[0]

'Geography'

In [63]:
#tupple are immutable
tupple_1[0] = 'Arts'

TypeError: 'tuple' object does not support item assignment

In [65]:
#Sets -values that are odered list
course_set = {'Geography', 'History', 'Physics','Math'}
course_set

{'Geography', 'History', 'Math', 'Physics'}

In [67]:
'Math' in course_set

True

In [69]:
#Intersection
course_set2 = {'Geography', 'Biology','Chemistry' 'Physics','Math'}
course_set2.intersection(course_set)

{'Geography', 'Math'}

In [70]:
#union 
course_set2.union(course_set)

{'Biology', 'ChemistryPhysics', 'Geography', 'History', 'Math', 'Physics'}

In [71]:
#differences || intersection 
course_set2.difference(course_set)

{'Biology', 'ChemistryPhysics'}

In [72]:
#empty list 
list = []
#empty tuple 
empty_tuple = ()
#empty sets
set_empty = set()

In [73]:
set_empty = {} #error

In [74]:
set_empty

{}

In [92]:
#dictionaries -key value pairs like hash maps 
student= {'name': 'Morgan', 'Age':25}
student

{'name': 'Morgan', 'Age': 25}

In [93]:
student['name']

'Morgan'

In [94]:
student.get('name', 'not found')

'Morgan'

In [95]:
student['phone'] = '555-555-555'
student

{'name': 'Morgan', 'Age': 25, 'phone': '555-555-555'}

In [96]:
student['name']= 'Jane'

In [97]:
student.update({'Name': 'Kennedy', 'phone': '444-44-444'})
student

{'name': 'Jane', 'Age': 25, 'phone': '444-44-444', 'Name': 'Kennedy'}

In [98]:
del student['name']
student

{'Age': 25, 'phone': '444-44-444', 'Name': 'Kennedy'}

In [99]:
phone = student.pop('phone')
phone

'444-44-444'

In [101]:
student.keys()

dict_keys(['Age', 'Name'])

In [102]:
student.items()

dict_items([('Age', 25), ('Name', 'Kennedy')])

In [105]:
for i in student:
    print(i)

Age
Name

In [106]:
#loops and iterations 
nums = [1,2,3,4,5,6,7,8]
for i in nums:
    print(i)

1
2
3
4
5
6
7
8

In [109]:
for i in nums:
    if i == 5:
        print('found')
        #break
        continue
    print(i)

1
2
3
4
found
6
7
8

In [111]:
#for i in range (20)
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [116]:
#while
x = 0
while x < 10:
    print(x)
    if x >4: 
        break
    x += 2

0
2
4
6

In [ ]:
#functions