In [1]:
    # Load the Pandas libraries with alias 'pd' 
    import pandas as pd 
    # Read data from file 'filename.csv' 
    # (in the same directory that your python process is based)
    # Control delimiters, rows, column names with read_csv (see later) 
    data = pd.read_csv("communities.csv") 
    # Preview the first 5 lines of the loaded data 
    data.head()

,state,communityname,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,agePct12t29,...,NumStreet,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,ViolentCrimesPerPop
0,8,Lakewoodcity,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,...,0.0,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.20
1,53,Tukwilacity,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,...,0.0,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.67
2,24,Aberdeentown,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,...,0.0,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.43
3,34,Willingborotownship,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,...,0.0,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.12
4,42,Bethlehemtownship,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,...,0.0,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.03

In [2]:
data

,state,communityname,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,agePct12t29,...,NumStreet,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,ViolentCrimesPerPop
0,8,Lakewoodcity,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,...,0.00,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.20
1,53,Tukwilacity,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,...,0.00,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.67
2,24,Aberdeentown,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,...,0.00,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.43
3,34,Willingborotownship,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,...,0.00,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.12
4,42,Bethlehemtownship,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,...,0.00,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,TempleTerracecity,0.01,0.40,0.10,0.87,0.12,0.16,0.43,0.51,...,0.00,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.09
1990,6,Seasidecity,0.05,0.96,0.46,0.28,0.83,0.32,0.69,0.86,...,0.00,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.45
1991,9,Waterburytown,0.16,0.37,0.25,0.69,0.04,0.25,0.35,0.50,...,0.02,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.23
1992,25,Walthamcity,0.08,0.51,0.06,0.87,0.22,0.10,0.58,0.74,...,0.01,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.19
1993,6,Ontariocity,0.20,0.78,0.14,0.46,0.24,0.77,0.50,0.62,...,0.08,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,0.48

In [3]:
pop = data.population

In [5]:
pop.mean()

0.05759277833500538

In [14]:
#statistic for household size 

householdsize = data.householdsize
mean_household= householdsize.mean()
min_household= householdsize.min()
max_household= householdsize.max()
std_household = householdsize.std()

In [17]:
#statistic for racepctblack

racepctblack = data.householdsize
mean_racepctblack= racepctblack.mean()
min_racepctblack= racepctblack.min()
max_racepctblack= racepctblack.max()
std_racepctblack = racepctblack.std()

In [18]:
#statistic for racePctWhite

racePctWhite = data.racePctWhite
mean_racePctWhite = racePctWhite.mean()
min_racePctWhite= racePctWhite.min()
max_racePctWhite= racePctWhite.max()
std_racePctWhite = racePctWhite.std()

In [19]:
# statistic for racePctAsian 

racePctAsian = data.racePctAsian
mean_racePctAsian = racePctAsian.mean()
min_racePctAsian= racePctAsian.min()
max_racePctAsian= racePctAsian.max()
std_racePctAsian = racePctAsian.std()

In [22]:
racePctAsian

0       0.12
1       0.45
2       0.17
3       0.12
4       0.09
        ...
1989    0.12
1990    0.83
1991    0.04
1992    0.22
1993    0.24
Name: racePctAsian, Length: 1994, dtype: float64

In [23]:
#statistic for ViolentCrimesPerPop

ViolentCrimesPerPop = data.ViolentCrimesPerPop
mean_ViolentCrimesPerPop = ViolentCrimesPerPop.mean()
min_ViolentCrimesPerPop= ViolentCrimesPerPop.min()
max_ViolentCrimesPerPop= ViolentCrimesPerPop.max()
std_ViolentCrimesPerPop = ViolentCrimesPerPop.std()

In [ ]:
#statistic for agePct12t29


agePct12t29 = data.agePct12t29
mean_agePct12t29 = agePct12t29.mean()
min_agePct12t29= agePct12t29.min()
max_agePct12t29= agePct12t29.max()
std_agePct12t29 = agePct12t29.std()

AttributeError: 'int' object has no attribute 'mean'

In [47]:
data2 = data.drop(['communityname', 'state'], axis=1)
data2

,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,agePct12t29,agePct16t24,agePct65up,...,NumStreet,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,ViolentCrimesPerPop
0,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,0.32,...,0.00,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.20
1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,0.35,0.27,...,0.00,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.67
2,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,0.28,0.32,...,0.00,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.43
3,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,0.34,0.21,...,0.00,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.12
4,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,0.23,0.36,...,0.00,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,0.01,0.40,0.10,0.87,0.12,0.16,0.43,0.51,0.35,0.30,...,0.00,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.09
1990,0.05,0.96,0.46,0.28,0.83,0.32,0.69,0.86,0.73,0.14,...,0.00,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.45
1991,0.16,0.37,0.25,0.69,0.04,0.25,0.35,0.50,0.31,0.54,...,0.02,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.23
1992,0.08,0.51,0.06,0.87,0.22,0.10,0.58,0.74,0.63,0.41,...,0.01,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.19
1993,0.20,0.78,0.14,0.46,0.24,0.77,0.50,0.62,0.40,0.17,...,0.08,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,0.48

In [45]:
data_transpose = data2.T

for row_t in data_transpose:
    print (row_t.mean())

AttributeError: 'int' object has no attribute 'mean'

In [51]:
# Iterate over the sequence of column names in reverse order
for column in reversed(data2.columns):
# Select column contents by column name using [] operator
    columnSeriesObj = data2[column]
    data2.astype({data2[column]: 'float64'}).dtypes
    print(columnSeriesObj.mean())

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [ ]:
data3= data2.Series([1, 2], dtype='int32')

In [49]:
data2.dtypes

population             float64
householdsize          float64
racepctblack           float64
racePctWhite           float64
racePctAsian           float64
                        ...
PctSameState85         float64
LandArea               float64
PopDens                float64
PctUsePubTrans         float64
ViolentCrimesPerPop    float64
Length: 98, dtype: object